<html layout:decorate="~{common/layout.html}">

<head>
  <title>채팅 목록</title>
  <style>
    body {
      color:white;
    }

    .table {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }

    .table thead tr:first-child th,
    .table thead tr:first-child td {
      background-color: #171917;
      text-align: center;
    }

    .table tbody tr th,
    .table tbody tr td {
      background-color: #404040;
      border:0px;
      text-align: center;
    }
  </style>
</head>

<body>

<main layout:fragment="main">

  <div class="mt-10 flex justify-center">
    <div class="mr-16 mt-2 text-base text-white underline">
      매칭 채팅
    </div>
    <a href="/dm/dmlist" class="cursor-pointer mt-2 text-base text-gray-500 hover:text-white hover:underline">
      DM
    </a>
  </div>

  <div style="display: flex; justify-content: center;">
    <table id="chatRoomTable" class="table shadow-2xl w-1/5 flex justify-center">
      <thead>
      <tr>
        <th>번호</th>
        <th>프로필</th>
        <th>채팅방 이름</th>
        <th>채팅방 입장</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="myChatRoom, loop : ${myChatRoomList}">
        <td th:text="${loop.count}"></td>
        <td class="flex justify-center">
          <img th:src="${myChatRoom.getOwner().getAvatar()}" alt="${user.username}'s avatar" class="rounded-lg w-10 h-10 m-auto"/>
        </td>
        <td th:text="${myChatRoom.getName()}"></td>
        <td>
          <a th:href="@{/chat/rooms/{roomId}(roomId=${myChatRoom.getId()})}" class="btn btn-sm btn-outline border-white text-white hover:bg-[#1F2227] hover:border-white invite">입장</a>
        </td>
      </tr>
      <tr th:if="${myChatRoomList.isEmpty()}">
        <td colspan="4" style="text-align: center;">참여 중인 채팅방이 없습니다😥</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- 페이지 번호 표시 부분 -->
  <div class="pagination" style="display: flex; justify-content: center; flex-wrap: wrap; margin-top: 20px;">
    <ul style="display: flex;">
      <li th:if="${currentPage != 0}">
        <a th:href="@{/chat/chatlist(page=${currentPage - 1})}" style="margin-right: 1em;">&lt;이전</a>
      </li>
      <li th:each="pageNumber : ${#numbers.sequence((currentPage > 4 ? currentPage - 3 : 0),
                (myChatRoomList.totalPages > currentPage + 5 ? currentPage + 5 : myChatRoomList.totalPages))}"
          style="display: inline;" th:unless="${pageNumber == 0}">
        <a th:href="@{/chat/chatlist(page=${pageNumber - 1})}" th:text="${pageNumber}" style="margin-right: 1em;"
           th:classappend="${pageNumber == currentPage + 1 ? 'active' : ''}"></a>
      </li>
      <li th:if="${currentPage + 1 < myChatRoomList.totalPages}">
        <a th:href="@{/chat/chatlist(page=${currentPage + 1})}" style="margin-right: 1em;">다음&gt;</a>
      </li>
    </ul>
  </div>

</main>
</body>
</html>