<html layout:decorate="~{common/layout.html}" xmlns:layout="">
<head>
  <title>유저 목록</title>
  <style>
    .table {
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
  </style>
</head>

<body>

<main layout:fragment="main">
  <div style="display: flex; justify-content: center;">
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th>회원 번호</th>
        <th>회원 이름</th>
        <th>초대</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user, loop : ${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td>
          <a th:href="@{/chat/{roomId}/inviteUser/{userId}(roomId=${chatRoom.id}, userId=${user.id})}"
             class="btn btn-sm btn-outline invite">초대</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.invite').on('click', function(e) {
        e.preventDefault(); // Avoids redirecting

        var btn = $(this); // 클릭된 초대 버튼

        // AJAX를 사용하여 서버에 초대 요청 보내기
        $.ajax({
          url: btn.attr('href'),
          type: 'GET',
          success: function(response) {
            if (response.success) {
              toastr.error("이미 초대한 사람입니다.");
            } else {
              toastr.success("초대가 발송되었습니다.");
            }
          },
          error: function() {
            toastr.success('초대 요청에 실패했습니다');
          }
        });
      });
    });
  </script>
</main>
</body>
</html>