<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- toastr 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

    <!-- 데이지 UI 불러오기 -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>

    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- 공통 JS 불러오기 -->
    <script src="/resource/common/common.js"></script>
    <!-- 공통 CSS 불러오기 -->
    <link rel="stylesheet" href="/resource/common/common.css">

    <!-- 테일윈드 불러오기 -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- layout css 적용 -->
    <link rel="stylesheet" href="/layout.css">
</head>

<body>
<!-- 공통 상단 -->
<header>

    <div class="navbar">
        <div class="navbar_child"></div>
        <div class="navbar_child">
            <div class="navbar-start">
                <a href="/main/home">
                    <img class="logo" src="/resource/common/TSDog.png">
                </a>
            </div>

            <!-- 카테고리 -->
            <div class="navbar-center lg:flex">
                <ul class="menu menu-horizontal px-1">
                    <li>
                        <a href="/match/list">
                            <span>매칭</span>
                        </a>
                    </li>
                    <li>
                        <a href="/rank">
                            <span>랭킹</span>
                        </a>
                    </li>
                    <li>
                        <a href="/minigame">
                            <span>미니게임</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 개인 카테고리 -->
            <div class="navbar-end flex justify-end">
                <ul class="flex direction-column items-center">
                    <li class="menu-1__li-icon">
                        <a href="/notification/list" th:if="${@rq.isLogin()}" id="nav-noti"
                           class="h-full flex items-center px-2 btn btn-ghost btn-circle">
                            <div class="indicator">
                                <span><i id="noti-icon" class="far fa-envelope"></i></span>
                                <span data-test="hasUnreadNotifications" th:if="${@rq.hasUnreadNotifications}"
                                      class="badge badge-xs badge-error indicator-item"></span>
                            </div>
                        </a>
                    </li>
                    <li class="menu-1__li-icon">
                        <a id="nav-message" th:if="${@rq.isLogin()}" href="/dm/chatlist"
                           class="h-full flex items-center px-2 btn btn-ghost btn-circle">
                            <div class="indicator">
                                <span><i id="message-icon" class="far fa-comments"></i></span>
                            </div>
                        </a>
                    </li>
                    <li class="menu-1__li-join">
                        <a href="/user/login" class="h-full flex items-center px-2" th:if="${@rq.logout}">
                            <span>로그인</span>
                        </a>
                        <a href="/user/logout"
                           class="h-full flex items-center px-2" th:if="${@rq.login}">
                            <span>로그아웃</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar_child"></div>
    </div>

</header>

<main layout:fragment="main"></main>
<footer layout:fragment="footer"></footer>
<script th:inline="javascript">
    // 타임리프 문법(파라미터, ? 뒤에 입력된 매개변수들)
    const params = /*[[ ${param} ]]*/ null;
    if (params.msg) {
        toastNotice(params.msg[0]);
    }
    if (params.errorMsg) {
        toastWarning(params.errorMsg[0]);
    }
    // history.back 에 의해서 돌아온 경우에 실행됨
    // 평소에도 실행됨
    $(window).bind("pageshow", function (event) {
        const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;
        if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
            toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
            localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
        } else if (!document.referrer) {
            const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___null";
            if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
            }
        }
    });
</script>
</body>
</html>