<html layout:decorate="~{common/layout.html}" xmlns:margin-right="http://www.w3.org/1999/xhtml">
<head>
  <title>TEAMSTEAM 홈화면</title>
  <style>
    footer {
      margin-top: 150px; /* 원하는 간격 크기로 조정 */
    }

  </style>
</head>
<body>
<main layout:fragment="main" class="flex flex-col justify-center items-center">

  <header class="text-3xl mt-5"> 게임 목록이 안 보일 때, 해결 방법</header>
  <img class="mt-5" src="/resource/common/1000019415.png" width="800">
  <div class="text-lg mt-5">
    Steam → 상단 커뮤니티 메뉴 옆 내 닉네임 → 프로필 수정 →  공개 설정 → 프로필 : 공개, 게임 세부 정보 : 공개
  </div>
  <div class="text-lg mt-2">
    👉 설정 완료 후, 뒤로 가기를 눌러주세요!
  </div>

</main>

</body>
</html>