<html layout:decorate="~{common/layout.html}" xmlns:margin-right="http://www.w3.org/1999/xhtml">
<head>
    <title>TEAMSTEAM 홈화면</title>
    <style>
        .matching-list {
            display: flex;
            justify-content: center;
            margin-top: 3px;
        }
        .matching-title {
            display: flex;
            margin-left: 5%;
        }

        td, th {
            padding: 10px;
        }

        .matching-button:hover {
            background-color: #1F2227;
            color: white;
            background-color: rgba(31, 34, 39, 0);
        }

        .highlight-row:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }

        footer {
            margin-top: 150px; /* 원하는 간격 크기로 조정 */
        }
        select {
            padding:10px 28px 10px 10px;
            font-size: 15px;
            border:5px;
        /*-webkit-appearance:none; !* for chrome *!*/
        /*    -moz-appearance:none; !*for firefox*!*/
        /*    appearance:none;*/
            box-sizing: border-box;
            background: transparent;

        }
    </style>
</head>
<body>
<main layout:fragment="main">
    <div class="top-image-bar mt-24 flex justify-center">
        <img src="/resource/common/logo.png" style="width: 550px; height: auto;">
    </div>

    <!-- 검색창 -->
    <div class="search-box flex justify-center items-center mt-5 mb-5" style="height: 30px; margin-top: 3%">
        <form th:action="@{/match/list/search}" method="GET" class="relative">
            <div class="flex items-center" style="background-color: #555555; border-radius: 5px; width: 650px">
                <select name="name" class="h-12 p-3" style="color: white; background-color: #444444; border-radius: 5px; padding-left: 25px; padding-right: 5px;">
                    <option value="title" th:selected="${searchOption == 'title'}">제목</option>
                    <option value="content" th:selected="${searchOption == 'content'}">내용</option>
                    <option value="writer" th:selected="${searchOption == 'writer'}">글쓴이</option>
                </select>
                <input type="text" name="keyword" placeholder="검색어 입력" th:value="${keyword}"
                       class="h-12 p-4 pr-12 ml-3" style="background-color: transparent; width: 500px;"/>
                <button type="submit" aria-label="Search" title="Search"
                        class="absolute right-0 top-0 bottom-0 flex items-center justify-center text-black text-2xl pr-3">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="matching-title" style="margin-top: 100px">
        최신 매칭 글
    </div>
    <div class="matching-list">
        <div>
            <div>
                <th:block th:each="matching : ${newPost}">
                    <div th:attr="onclick='window.location.href=\'' + @{/match/detail/} + ${matching.id} + '\''"
                         style="cursor: pointer; width: 1100px; height: 125px; border: 1px solid #67686C; padding: 15px; margin: 15px; border-radius: 5px"
                         class="highlight-row flex items-center" >

                        <div class="flex flex-col" style="margin-right: 30px;">
                            <div class="flex items-center">
                                <div class="w-10 h-10 m-2 flex flex-col justify-center">
                                    <img th:src="${matching.user.getAvatar()}"
                                         class="user-profile w-10 h-10 object-cover" style="border-radius: 5px; margin-top: 15px">
                                    <div class="user-name" th:text="${matching.user.username}"  style="font-size: 11px;"></div>
                                </div>

                                <!-- 첫 번째 div (제목과 날짜) -->
                                <div class="flex flex-col" style="margin-left: 10px">
                                    <!-- title -->
                                    <div style="min-width :300px; max-width: 300px">
                                        <span th:text="${#strings.length(matching.title) > 15 ? #strings.substring(matching.title, 0, 15) + '...' : matching.title}"></span>
                                    </div>

                                    <!-- date -->
                                    <div class="flex">
                                        <div class="text-xs" style="color: #888888;"
                                             th:text="${#temporals.format(matching.getModifyDate(), 'yyyy/MM/dd hh:mm')}"></div>
                                    </div>
                                </div>

                                <!-- 두 번째 div (참여 인원과 마감 시간) -->
                                <div style="font-size: 15px;">
                                    <div class="flex items-center" style="margin-bottom: 7px">
                                        <span style="color: #aaaaaa; margin-right: 5px; margin-left: 10px;">참여 인원 : </span>
                                        <span th:text="|${matching.participant}  /  ${matching.capacity}|"></span>
                                    </div>

                                    <div class="flex items-center" style="min-width :300px; max-width: 300px">
                                        <span style="color: #aaaaaa; margin-right: 5px; margin-left: 10px">마감 시간 : </span>
                                        <span th:text="${matching.getDeadlineDuration() != null ? matching.getDeadlineDuration() : '마감완료'}"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- 태그 -->
                            <div class="flex" style="margin-top: 10px">
                                <div style="margin-right: 3px;">
                                    <div class="m-1 p-2 text-xs flex items-center justify-center rounded-xl" style="min-width: 64px; background-color: #222222;">
                                        장르 :
                                        <span th:text="${matching.genre}"></span>
                                    </div>
                                </div>
                                <div style="margin-right: 3px;">
                                    <div class="m-1 p-2 text-xs flex items-center justify-center rounded-xl" style="min-width: 64px; background-color: #222222;">
                                        시간 :
                                        <span th:if="${matching.startTime} != 0"
                                              th:text="${matching.startTime} + ' : 00'"></span>
                                        <span th:if="${matching.startTime} == 0" text="시간무관">시간무관 </span>
                                        <span th:if="${matching.endTime} != 0"
                                              th:text="' ~ ' + ${matching.endTime} + ' : 00'"></span>
                                    </div>
                                </div>
                                <div style="margin-right: 3px;">
                                    <div class="m-1 p-2 text-xs flex items-center justify-center rounded-xl" style="min-width: 64px; background-color: #222222;">
                                        성별 :
                                        <span th:switch="${matching.gender}">
                                            <span th:case="'F'">여성</span>
                                            <span th:case="'M'">남성</span>
                                            <span th:case="'DC'">성별무관</span>
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <div class="m-1 p-2 text-xs flex items-center justify-center rounded-xl" style="background-color: #222222;">
                                        마이크 :
                                        <span th:if="${matching.getIsMic()}" class="ml-1">ON</span>
                                        <span th:if="${!matching.getIsMic()}" class="ml-1">OFF</span>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div style="display: flex; justify-content: center; align-items: center; border-radius: 5px; padding: 10px; background-color: #404040;">
                            <img style="width: 40px; height: 40px; border-radius: 5px; margin-right: 15px;"
                                 th:src="@{'https://steamcdn-a.akamaihd.net/steam/apps/' + ${matching.getGameTagId()} + '/header.jpg'}"
                                 alt="게임 이미지" width="200" height="auto" />
                            <span th:text="${matching.gameTagName}">게임 이름</span>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
<!--    <div th:attr="onclick='window.location.href=\'' + @{/match/detail/} + ${matching.id} + '\''"-->

    <div class="matching-list">
        <div style="cursor: pointer; width: 1100px; height: 75px; border: 1px solid #67686C; padding: 10px; margin: 1px; border-radius: 5px;"
             onclick="location.href='/match/list'"
             class="highlight-row flex items-center justify-center">
            더 많은 매칭 보기
        </div>
    </div>

</main>

</body>
</html>