/* 로고 */
.logo {
    /*border-radius: 45px;*/
}

.main-logo {
    width: 50px;
    padding-left: 5px;
}

/* 메뉴 */
.menu-navbar > li {
    color: #888888;
    position: relative;
    height: 64px;
}

.menu-navbar > li:hover::after {
    content: '';
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 80%;
    height: 2px;
    background-color: white;
}

.menu-navbar > li:hover span {
    color: white;
    /*border-bottom: 2px solid white;*/
    /*text-decoration: underline;*/
}

.menu-navbar > li > a {
    background-color: transparent;
}

.selected {
    color: white;
}

.menu-dropdown {
    background-color: #2d2d2d;
    color: #888888;
    border-radius: 5px;
}

.menu-dropdown > li {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-dropdown > li:hover {
    color: white;
}

/* 메뉴 1 */
.menu-1__li-icon > a > span {
    font-size: 20px;
}

.menu-1 > li:not(.menu-1__li-icon) > a > span {
    font-size: 14px;
}

.menu-1__li-join > a > span {
    background-color: var(--color, white);
    color: var(--inverse-color, #000000);
    padding: 12px 12px 12px 12px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.menu-1 > li:hover > a > span {
    text-decoration: underline;
}

footer {
    margin-top: 150px; /* 원하는 간격 크기로 조정 */
}

#nav-noti:hover {
    background-color: transparent !important;
}

.menu-1 > li:hover #noti-icon {
    text-decoration: underline;
}

#nav-message:hover {
    background-color: transparent !important;
}

.menu-1 > li:hover #message-icon {
    text-decoration: underline;
}

.navbar {
    --color: white;
    --inverse-color: #000000;
    height: var(--top-bar__height);
    background-color: #171917;
    color: var(--color);
    position: fixed;
    top: 0px;
    left: 0px;
    /*width: 100%;*/
    z-index: 1000;
}

header {
    display: flex;
}

.navbar_child:nth-child(1) {
    flex-grow: 18.75;
}

.navbar_child:nth-child(2) {
    width: 1200px;
    flex-shrink: 0;
}

.navbar_child:nth-child(3) {
    flex-grow: 18.75;
}

@media (max-width: 1200px) {
    .navbar_child:nth-child(1) {
        flex-grow: 5;
    }

    .navbar_child:nth-child(2) {
        width: auto; /* 중앙 요소의 너비를 100%로 설정 */
        flex-grow: 90;
        flex-shrink: 0;
    }

    .navbar_child:nth-child(3) {
        flex-grow: 5;
    }
}