/* 로고 */
.logo {
    border-radius: 45px;
}

/* 메뉴 1 */
.menu-1__li-icon > a > span {
    font-size: 20px;
}

.menu-1 > li:not(.menu-1__li-icon) > a > span {
    font-size: 14px;
}

.menu-1__li-join > a > span {
    background-color: var(--color, white);
    color: var(--inverse-color, black);
    padding: 12px 12px 7px 12px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.menu-1 > li:hover > a > span {
    text-decoration: underline;
}

footer {
    margin-top: 150px; /* 원하는 간격 크기로 조정 */
}

#nav-noti:hover {
    background-color: transparent !important;
}

.menu-1 > li:hover #noti-icon {
    text-decoration: underline;
}

#nav-message:hover {
    background-color: transparent !important;
}

.menu-1 > li:hover #message-icon {
    text-decoration: underline;
}

.navbar {
    --color: white;
    --inverse-color: black;
    height: var(--top-bar__height);
    background-color: #171917;
    color: var(--color);
    position: fixed;
    top: 0px;
    left: 0px;
    /*width: 100%;*/
    z-index: 1000;
}

header {
    display: flex;
}

.navbar_child:nth-child(1) {
    flex-grow: 18.75;
}

.navbar_child:nth-child(2) {
    width: 1200px;
    flex-shrink: 0;
}

.navbar_child:nth-child(3) {
    flex-grow: 18.75;
}

@media (max-width: 1200px) {
    .navbar_child:nth-child(1) {
        flex-grow: 5;
    }

    .navbar_child:nth-child(2) {
        width: auto; /* 중앙 요소의 너비를 100%로 설정 */
        flex-grow: 90;
        flex-shrink: 0;
    }

    .navbar_child:nth-child(3) {
        flex-grow: 5;
    }
}