<html layout:decorate="~{common/layout.html}">
<head>
    <style>
        /* 테이블 테마 */
        .table {
            background-color: #17202c;
            color: #fff;
            border-radius: 30%;
            width: 100%;
        }

        /* 헤더 배경색 */
        .table thead th {
            background-color: #17202c;
            color: #fff;
        }

        /* 행 배경색 */
        .table tbody tr td {
            background-color: #1b2634;
            color: #fff;
        }

        /* 버튼 스타일 */
        .btn-rank {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 10px 10px 10px 10px;
        }

        /* 버튼 호버 효과 */
        .btn-rank:hover {
            background-color: #555;
        }

        /* 배지 스타일 */
        .badge {
            background-color: #ccc;
            color: #333;
            padding: 2px 5px;
        }

        .card-actions{
            width: 50%;
            height: 50%;
        }

        .mini-profile{
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .mini-profile-avatar{
            margin-left: 10px;
            margin-right: 10px;
            border-right-color: #525964;
        }

        .mini-profile-tag{
            border-left-color: #525964;
            border-left-width: 1px;
            padding-left: 5px;
        }

        .gameTagBadge{
            font-size: 8px;
            display: flex;
        }

        .genreTagBadge{
            display: flex;
        }
    </style>
</head>
<body>
<main layout:fragment="main">
    <!--TOP3까지 직접 출력-->
    <container
            style="display: flex; flex-direction: row; height: 48vh; justify-content: space-evenly; margin-top: 25px;">
        <div class="card w-96 shadow-xl ml-20" style="height: 38vh; align-self: center; background-color: #17202c;">
            <figure class="px-10 pt-3">
                <img src="https://raw.githubusercontent.com/tkdtn4657/images/main/8.png" alt="Shoes" class="rounded-xl"
                     style="width: 100%; height: 100%;"/>
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title" style="color: silver; " th:text="${oneToThreeUserList.get(1).getUsername()}"></h2>
                <div class="mini-profile">
                    <div class="mini-profile-avatar"><img th:src="${oneToThreeUserList.get(1).getAvatar()}"/></div>
                    <div class="mini-profile-tag">
                        <tr th:each="twoUserGameTag, index : ${oneToThreeUserList.get(1).getUserTag().getGameTag()}" th:if="${index.size} != 0 and ${index.index} < 2">
                            <div class="badge bg-sky-500 badge-accent mt-2" th:text="${twoUserGameTag.getName()}"></div>
                        </tr>
                        <br>
                        <tr  th:each="twoUserGenreTag, index : ${oneToThreeUserList.get(1).getUserTag().getGenreTag()}" th:if="${index.size} != 0 and ${index.index} < 3">
                            <div class="badge bg-green-500 badge-accent" th:text="${twoUserGenreTag.getGenre()}"></div>
                        </tr>
                    </div>
                </div>
                <div class="card-actions" style="display:flex; align-content: center;">
                    <button class="btn-rank btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="card w-96 shadow-xl" style="height: 38vh; align-self: start; background-color: #17202c;">
            <figure class="px-10 pt-3">
                <img src="https://raw.githubusercontent.com/tkdtn4657/images/main/7.png" alt="Shoes" class="rounded-xl"
                     style="width: 100%; height: 100%;"/>
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title" style="color: #F5ED27;" th:text="${oneToThreeUserList.get(0).getUsername()}"></h2>
                <div class="mini-profile">
                    <div class="mini-profile-avatar"><img th:src="${oneToThreeUserList.get(1).getAvatar()}"/></div>
                    <div class="mini-profile-tag">
                        <tr th:each="twoUserGameTag, index : ${oneToThreeUserList.get(1).getUserTag().getGameTag()}" th:if="${index.size} != 0 and ${index.index} < 2">
                            <div class="badge bg-sky-500 badge-accent mt-2" th:text="${twoUserGameTag.getName()}"></div>
                        </tr>
                        <br>
                        <tr  th:each="twoUserGenreTag, index : ${oneToThreeUserList.get(1).getUserTag().getGenreTag()}" th:if="${index.size} != 0 and ${index.index} < 3">
                            <div class="badge bg-green-500 badge-accent" th:text="${twoUserGenreTag.getGenre()}"></div>
                        </tr>
                    </div>
                </div>
                <div class="card-actions">
                    <button class="btn-rank btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="card w-96 shadow-xl mr-20 mb-8" style="height: 38vh; align-self: end; background-color: #17202c;">
            <figure class="px-10 pt-3">
                <img src="https://raw.githubusercontent.com/tkdtn4657/images/main/9.png" alt="Shoes" class="rounded-xl"
                     style="width: 100%; height: 100%;"/>
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title" style="color: #FF2B2B;" th:text="${oneToThreeUserList.get(2).getUsername()}"></h2>
                <div class="mini-profile">
                    <div class="mini-profile-avatar"><img th:src="${oneToThreeUserList.get(1).getAvatar()}"/></div>
                    <div class="mini-profile-tag">
                        <tr th:each="twoUserGameTag, index : ${oneToThreeUserList.get(1).getUserTag().getGameTag()}" th:if="${index.size} != 0 and ${index.index} < 2">
                            <div class="badge bg-sky-500 badge-accent mt-2" th:text="${twoUserGameTag.getName()}"></div>
                        </tr>
                        <br>
                        <tr  th:each="twoUserGenreTag, index : ${oneToThreeUserList.get(1).getUserTag().getGenreTag()}" th:if="${index.size} != 0 and ${index.index} < 3">
                            <div class="badge bg-green-500 badge-accent" th:text="${twoUserGenreTag.getGenre()}"></div>
                        </tr>
                    </div>
                </div>
                <div class="card-actions">
                    <button class="btn-rank btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
    </container>
    <!--TOP3까지 직접 출력 끝-->

    <container style="margin-top:15px; display: flex; justify-content: center;">
        <table class="table" style=" width: 76%;">
            <!-- head -->
            <thead>
            <tr style="background-color: #1D2939;">
                <th>Rank</th>
                <th>User</th>
                <th>Job</th>
                <th>Favorite Color</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!-- row 1 -->
            <tr>
                <td></td>
                <td>
                    <div class="flex items-center space-x-3">
                        <div class="avatar">
                            <div class="mask mask-squircle w-12 h-12">
                                <img src="/tailwind-css-component-profile-2@56w.png"
                                     alt="Avatar Tailwind CSS Component"/>
                            </div>
                        </div>
                        <div>
                            <div class="font-bold">Hart Hagerty</div>
                            <div class="text-sm opacity-50">United States</div>
                        </div>
                    </div>
                </td>
                <td>
                    Zemlak, Daniel and Leannon
                    <br/>
                    <span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
                </td>
                <td>Purple</td>
                <td>
                    <button class="btn-rank btn-ghost btn-xs">details</button>
                </td>
            </tr>
            <!-- row 2 -->
            <tr>
                <td></td>
                <td>
                    <div class="flex items-center space-x-3">
                        <div class="avatar">
                            <div class="mask mask-squircle w-12 h-12">
                                <img src="/tailwind-css-component-profile-3@56w.png"
                                     alt="Avatar Tailwind CSS Component"/>
                            </div>
                        </div>
                        <div>
                            <div class="font-bold">Brice Swyre</div>
                            <div class="text-sm opacity-50">China</div>
                        </div>
                    </div>
                </td>
                <td>
                    Carroll Group
                    <br/>
                    <span class="badge badge-ghost badge-sm">Tax Accountant</span>
                </td>
                <td>Red</td>
                <td>
                    <button class="btn-rank btn-ghost btn-xs">details</button>
                </td>
            </tr>
            <!-- row 3 -->
            <tr>
                <td></td>
                <td>
                    <div class="flex items-center space-x-3">
                        <div class="avatar">
                            <div class="mask mask-squircle w-12 h-12">
                                <img src="/tailwind-css-component-profile-4@56w.png"
                                     alt="Avatar Tailwind CSS Component"/>
                            </div>
                        </div>
                        <div>
                            <div class="font-bold">Marjy Ferencz</div>
                            <div class="text-sm opacity-50">Russia</div>
                        </div>
                    </div>
                </td>
                <td>
                    Rowe-Schoen
                    <br/>
                    <span class="badge badge-ghost badge-sm">Office Assistant I</span>
                </td>
                <td>Crimson</td>
                <td>
                    <button class="btn-rank btn-ghost btn-xs">details</button>
                </td>
            </tr>
            <!-- row 4 -->
            <tr>
                <td></td>
                <td>
                    <div class="flex items-center space-x-3">
                        <div class="avatar">
                            <div class="mask mask-squircle w-12 h-12">
                                <img src="/tailwind-css-component-profile-5@56w.png"
                                     alt="Avatar Tailwind CSS Component"/>
                            </div>
                        </div>
                        <div>
                            <div class="font-bold">Yancy Tear</div>
                            <div class="text-sm opacity-50">Brazil</div>
                        </div>
                    </div>
                </td>
                <td>
                    Wyman-Ledner
                    <br/>
                    <span class="badge badge-ghost badge-sm">Community Outreach Specialist</span>
                </td>
                <td>Indigo</td>
                <td>
                    <button class="btn-ranl btn-ghost btn-xs">details</button>
                </td>
            </tr>
            </tbody>
        </table>
    </container>
</main>
</body>
</html>