@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: "GmarketSansMedium";
    text-underline-position: under;
    word-break: keep-all;
}

html > body .label-text {
    font-size: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2227;
    font-family: GmarketSansMedium;
}

.navbar__logo {
    font-size: larger;
    font-weight: bold;
    justify-content: center;
    color: white;
}

.navbar__menu {
    display: flex;
    list-style: none;
    align-items: center;
    font-family: GmarketSansMedium;
}

.navbar__menu li {
    margin-right: 10px;
}

.navbar__menu li a {
    color: white;
    text-decoration: none;
}

.navbar__logo a:visited {
    color: white;
}