<!DOCTYPE html>
<html layout:decorate="~{common/layout.html}">
<head>
    <title>나의 게임 목록</title>
    <style>
        .custom-card{
            background-color: #2d2d2d;
            border:0px;
        }
        .active-button:hover {
            background-color: #dc5804;
            border-color: #dc5804;
        }
    </style>
</head>
<body>
<main layout:fragment="main">
    <form id="gameTagForm" action="/user/createGameTag/save-gametag" method="post" th:action="@{/user/createGameTag/save-gametag}">
        <div class="m-auto container">
            <div class="flex justify-center">
                <p class="m-8 text-2xl">선호하는 게임을 선택해주세요!</p>
            </div>
            <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-5">
                <div th:each="game : ${gameList}" class="card card-compact w-96 bg-base-100 shadow-xl custom-card" style="max-width: 100%; max-height: 100%;">
                    <img th:src="@{'https://steamcdn-a.akamaihd.net/steam/apps/' + ${game.appid} + '/header.jpg'}"
                         alt="게임 이미지" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${game.name}" style="font-size: 14px;"></h5>
                        <div class="card-actions justify-end">
<!--                            <input type="checkbox" class="checkbox checkbox-success checkbox-lg " style="border-color: #878787; accent-color: purple; n" name="selectedGames" th:value="${game.appid}" />-->
                            <input type="checkbox" class="checkbox checkbox-lg" style="border-color: #878787; accent-color: purple;" name="selectedGames" th:value="${game.appid}" />
                            <input type="hidden" name="selectedGames" id="selectedGamesInput" />
                        </div>
                    </div>
                </div>
            </div>
                <div class="m-8 flex justify-center">
                    <div class="pagination">
                        <ul class="flex space-x-4 flex-row">
                            <li th:if="${currentPage != 0}" th:class="${currentPage == 0 ? 'disabled' : ''}">
                                <a th:href="@{/user/createGameTag(page=${currentPage - 1}, size=${size})}">&laquo; 이전 </a>
                            </li>
                            <li th:if="${currentPage != totalPages - 1}" th:class="${currentPage == totalPages - 2 ? 'disabled' : ''}">
                                <a th:href="@{/user/createGameTag(page=${currentPage + 1}, size=${size})}">다음 &raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex justify-end">
                    <button id="saveButton" class="btn btn-accent active-button bg-[#FF6B00]" style="border-color: #FF6B00; border-radius: 5px 5px 5px 5px;">저장</button>
                </div>
            </div>
        </div>
    </form>
    <script>

        // 선택한 게임들을 세션 스토리지에 저장하는 함수
        function saveSelectedGamesToStorage() {
            sessionStorage.setItem('selectedGames', JSON.stringify(selectedGames));
        }

        // 세션 스토리지에서 선택한 게임들을 로드하는 함수
        function loadSelectedGamesFromStorage() {
            var selectedGamesStr = sessionStorage.getItem('selectedGames');
            if (selectedGamesStr) {
                selectedGames = JSON.parse(selectedGamesStr);
            }
        }

        // 선택한 게임들을 저장할 배열
        var selectedGames = [];

        // 페이지 로드 시 세션 스토리지에서 선택한 게임들 로드
        loadSelectedGamesFromStorage();

        // 체크박스 변경 시 선택한 게임 목록 업데이트
        var checkboxes = document.querySelectorAll('input[type="checkbox"][name="selectedGames"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                var gameId = this.value;
                if (this.checked) {
                    // 체크한 게임이 이미 선택된 게임 목록에 없을 경우에만 추가
                    if (!selectedGames.includes(gameId)) {
                        selectedGames.push(gameId);
                    }
                } else {
                    // 체크 해제한 게임 제거
                    var index = selectedGames.indexOf(gameId);
                    if (index > -1) {
                        selectedGames.splice(index, 1);
                    }
                }
                // 선택한 게임 목록을 세션 스토리지에 저장
                saveSelectedGamesToStorage();
            });
        });

        // 저장 버튼 클릭 시 선택한 게임들을 서버로 전송
        document.getElementById('saveButton').addEventListener('click', function () {
            // 이미 hidden input이 있는 경우, 제거
            var existingHiddenInput = document.getElementById('selectedGamesInput');
            if (existingHiddenInput) {
                existingHiddenInput.remove();
            }

            // 선택한 게임들을 hidden input으로 추가하여 서버로 전송
            var hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'selectedGames';
            hiddenInput.value = selectedGames.join(',');
            document.getElementById('gameTagForm').appendChild(hiddenInput);

            document.getElementById('gameTagForm').addEventListener('submit', function (event) {
                // 선택한 게임 목록이 비어있으면 폼 제출을 중단하고 경고 메시지를 보여줌
                if (selectedGames == null || selectedGames.length === 0) {
                    event.preventDefault(); // 폼 제출 중단
                    alert("선택한 게임이 없습니다! 게임을 선택해주세요");
                    return;
                }
                // 폼 제출
                document.getElementById('gameTagForm').submit();
            });


            // 폼 제출 후 해당 세션 스토리지 삭제
            sessionStorage.removeItem('selectedGames');
        });
    </script>
</main>
</body>

</html>