<!DOCTYPE html>
<html>
<head>
    <title>폼 예시</title>
</head>
<body>
<form th:action="@{/user/createGenre}" method="post">
    <label>
        <input type="radio" name="gender" value="남성">
        남자
    </label>
    <br>
    <label>
        <input type="radio" name="gender" value="여성">
        여자
    </label>
    <br><br>

    <th:block th:each="genreTag : ${genreTags}">
        <label>
            <input type="checkbox" name="gameGenre" th:value="${genreTag}" th:text="${genreTag}">
        </label>
        <br>
    </th:block>

    <br><br>
    <input type="submit" value="제출">
</form>
</body>
</html>
