<html >
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{common/layout.html}">
<head>
    <meta charset="UTF-8"/>
    <title>프로필</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<main layout:fragment="main">
<div>
        <form th:action="@{/user/profile/editprofile}" method="post">
        <button th:if="${loginedId == targetUser.getId()}" type="submit" class="btn btn-primary">Edit Tag</button>
    </form>
        <form th:action="@{/user/profile/{userId}/addFriend(userId=${targetUser.id})}" method="post">
        <button th:if="${loginedId != targetUser.getId()}" type="submit" class="btn btn-primary">친구추가</button>
    </form>
</div>
<div class="container">
    <img th:src="${targetUser.getAvatar()}">
    <h1 class="my-4" th:text="${targetUser.getUsername()} + '의 프로필'" style="color: #dddddd;"></h1>
<!--    <table>-->
<!--        <tr th:if="${!targetUser.getUserTag().getGameTag.isEmpty()}" th:each="targetUserGameTag : ${targetUser.getUserTag().gameTag}">-->
<!--            <td><div class="badge bg-sky-500 badge-accent" th:text="${targetUserGameTag.getName()}"></div></td>-->
<!--        </tr>-->
<!--        <tr th:if="${!targetUser.getUserTag().getGenreTag().isEmpty()}" th:each="targetUserGenreTag : ${targetUser.getUserTag().genreTag}">-->
<!--            <td><div class="badge bg-green-500 badge-accent" th:text="${targetUserGenreTag.getGenre()}"></div></td>-->
<!--        </tr>-->
<!--    </table>-->
    <a th:href="@{'/user/profile/' + ${targetUser.getId()} +'/'+ ${1}}" style="color: #dddddd">좋아요</a>
    <a th:href="@{'/user/profile/' + ${targetUser.getId()} +'/'+ ${0}}" style="color: #dddddd">싫어요</a>
    <div><progress class="progress progress-accent w-56" th:value="${targetUser.getTemperature()}" max="100"></progress></div>
<!--    <div th:text="${targetUser.getTemperature()}"></div>-->

    <div th:if="${loginedId == targetUser.getId()}">
        <tr th:each="friend: ${friendsList}">

            <td th:text="${friend.getFriend().getId()}"></td>
            <td th:text="${friend.getFriend().getUsername()}"></td>
            <td>
                <img th:src="${friend.getFriend().getAvatar()}">
            </td>
        </tr>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>게임 이름</th>
            <th>AppID</th>
            <th>이미지</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${gameList}">
            <td th:text="${game.name}"></td>
            <td th:text="${game.appid}"></td>
            <td>
                <img th:src="@{'https://steamcdn-a.akamaihd.net/steam/apps/' + ${game.appid} + '/header.jpg'}"
                     alt="게임 이미지" width="200" height="auto"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</main>
</body>
</html>