<html layout:decorate="~{common/layout.html}">

<head>
    <title>매칭 등록</title>
    <style>
        .submit-button:hover {
            background-color: #dc5804 !important;
        }

        input[type="text"]::placeholder {
            color: #d1d1d1;
        }

        #content::placeholder {
            color: #d1d1d1;
        }

        .tag-custom {
            width: 230px;
            height: 45px;
            background-color: #404040;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 10px;
        }

        /*select option[value=""][disabled] {*/
        /*    display: none;*/
        /*}*/
    </style>
</head>
<body>

<main layout:fragment="main" style="min-height: calc(100vh - 64px)">

    <!-- 상단 소개글 -->
    <header class="ml-5 flex align-center">
        <div class="mt-20 mb-10 h-12 flex justify-center flex-col align-center">
            <div class="text-2xl">매칭 글 작성</div>
            <div class="text-sm mt-1">글을 작성해서 직접 게임 친구를 찾아보세요</div>
        </div>
    </header>

    <form th:object="${createForm}" th:action="@{/match/create}" method="POST">

        <div class="ml-5 mr-5 flex justify-between">

            <!-- 게시글 작성 -->
            <div style="margin-right: 45px">
                <div class="flex align-center"
                     style="border-bottom: 1px solid white; padding: 0px 0px 7px 5px; margin-bottom: 15px">
                    <div style="font-size: 17px">게시글 작성</div>
                </div>

                <!--제목-->
                <div>
                    <input type="text" placeholder="제목을 입력하세요" id="title" th:field="*{title}" maxlength="50"
                           class="p-4" style="background-color: #404040; width: 850px; height: 45px; border-radius: 5px"
                           required autofocus>
                </div>

                <!--내용-->
                <div class="mt-5">
                    <textarea cols="45" rows="15" id="content" placeholder="내용을 입력하세요" th:field="*{content}"
                              class="resize-none p-4 w-full"
                              style="background-color: #404040; width: 850px; min-height: 450px; border-radius: 5px"
                              required autofocus></textarea>
                </div>
                <!--내용 끝-->
            </div>


            <!--태그 설정 및 등록 버튼-->
            <div class="flex flex-col justify-between">
                <div>
                    <div class="flex align-center"
                         style="border-bottom: 1px solid white; padding: 0px 0px 7px 5px; margin-bottom: 15px">
                        <div style="font-size: 17px">태그 설정</div>
                    </div>

                    <!-- 태그 설정 -->
                    <div>
                        <!--게임 태그-->
                        <div>
                            <select id="gameTag" th:field="*{gameTagId}" class="tag-custom scroll" required autofocus>
                                <option value="">게임 태그</option>
                                <option th:each="gameTag : ${userGameTags}" th:value="${gameTag.appid}"
                                        th:text="${gameTag.name}"></option>
                            </select>
                        </div>

                        <!--장르 태그-->
                        <div>
                            <select id="genreTag" th:field="*{genre}" class="tag-custom scroll" required autofocus>
                                <option value="">장르 태그</option>
                                <option th:each="genreTag : ${userGenreTags}" th:value="${genreTag.genre}" th:text="${genreTag.genre}"
                                        th:selected="${genreTag.genre == 'YourCondition'}"></option>
                            </select>
                        </div>

                        <!--매칭 인원-->
                        <div>
                            <select id="capacity" name="capacity" th:field="*{capacity}" class="tag-custom" required
                                    autofocus>
                                <option value="" selected>매칭 인원</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>

                        <!--성별 설정-->
                        <div>
                            <select id="gender" name="gender" th:field="*{gender}" class="tag-custom" required
                                    autofocus>
                                <option value="">모집 성별</option>
                                <option value="DC">성별무관</option>
                                <option value="F">여성</option>
                                <option value="M">남성</option>
                            </select>
                        </div>

                        <!--시작 시간-->
                        <div>
                            <select id="startTime" th:field="*{startTime}" class="tag-custom scroll" required>
                                <option value="" selected>시작 시간</option>
                                <option value="0" text="시간무관">시간무관</option>
                                <option th:each="hour : ${#numbers.sequence(1, 24)}" th:value="${hour}"
                                        th:text="${hour}"></option>
                            </select>
                        </div>

                        <!-- 마이크-->
                        <div>
                            <select id="mic" th:field="*{isMic}" class="tag-custom" required>
                                <option value="" selected>마이크</option>
                                <option value="false">OFF</option>
                                <option value="true">ON</option>
                            </select>
                        </div>

                        <!--모집 마감 시간-->
                        <div>
                            <select id="deadline" name="deadline" onchange="setSelectedHours()"
                                    class="tag-custom" required>
                                <option value="">모집 마감 시간</option>
                                <option value="0">제한 없음</option>
                                <option value="1">1시간 후</option>
                                <option value="2">2시간 후</option>
                                <option value="3">3시간 후</option>
                                <option value="6">6시간 후</option>
                                <option value="12">12시간 후</option>
                                <option value="24">1일 후</option>
                            </select>
                        </div>
                        <input type="hidden" id="selectedHours" name="selectedHours" value="0">
                    </div>
                </div>


                <!--등록 버튼-->
                <div class="flex justify-end">
                    <div class="flex justify-end">
                        <button type="submit" onclick="showSuccessMessage()" class="submit-button p-2"
                                style="background-color: #ff6b00; width: 190px; height: 45px; border-radius: 5px; margin-bottom: 7px">등록
                        </button>
                    </div>
                </div>


            </div>
            <!--태그 끝-->


        </div>

    </form>

    <script>
        function setSelectedHours() {
            var selectedValue = document.getElementById("deadline").value;
            document.getElementById("selectedHours").value = selectedValue;
        }


        <!--capacity가 0이하로 떨어지는거 방지-->
        function checkCapacity() {
            var capacityInput = document.getElementById('capacity');
            if (capacityInput.value <= 1) {
                capacityInput.value = 2;
            }
            if (capacityInput.value >= 6) {
                capacityInput.value = 5;
            }
        }

        // startTime 값이 변경될 때마다 호출되는 함수
        function handleStartTimeChange() {
            var startTime = document.getElementById("startTime").value;
            var endTimeSelect = document.getElementById("endTime");

            if (startTime == "0") {
                console.log("이거지금실행돼?")
                // startTime 값이 0일 경우 endTime 드롭다운을 비활성화하고 값을 0으로 설정
                console.log(endTimeSelect.value)
                endTimeSelect.value = "0"
                endTimeSelect.disabled = true;
                console.log(endTimeSelect.value)
            } else {
                // startTime 값이 0이 아닐 경우 endTime 드롭다운을 활성화
                endTimeSelect.disabled = false;
            }
        }

        // startTime 값이 변경될 때 handleStartTimeChange 함수 호출
        document.getElementById("startTime").addEventListener("change", handleStartTimeChange);

        // 페이지 로드 시 초기 설정 수행
        handleStartTimeChange();


    </script>
</main>

</body>
</html>
