<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{common/layout}">

<head>
    <meta charset="UTF-8">
    <title>MatchingPage</title>
    <style>
        .btn {
            padding: 5px 10px;
            white-space: nowrap;
            color: white;
            background-color: #1F2227;
            border-radius: 10px;
            text-decoration: none;
        }
    </style>
</head>
<body>

<a href="/match/create" class="btn">매칭 등록</a><br><br>

<h1>매칭 목록 페이지</h1>

</body>
</html>
