<html layout:decorate="~{common/layout.html}">

<head>
    <title>매칭 수정</title>
    <style>
        label {
            color: white;
        }

        input[type="text"], textarea {
            border: 1px solid gray;
            color: #1F2227;
        }

        input[type="number"], textarea {
            border: 1px solid gray;
            color: #1F2227;
        }

        div > select {
            color: black;
        }
    </style>
</head>
<body>
<main layout:fragment="main">

<!--<h1>상품 등록</h1>-->
<form th:object="${createForm}" method="POST" style="margin: 10px 40px">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <label for="title">제목 :</label><br>
    <input type="text" id="title" th:field="*{title}" th:value="${matching.getTitle()}"><br><br>

    <label for="content">내용 :</label><br>
    <input type="text" id="content" th:field="*{content}" th:value="${matching.getContent()}"><br><br>

    <label for="capacity">매칭 인원 :</label><br>
    <input type="number" id="capacity" th:field="*{capacity}" th:value="${matching.getCapacity()}"><br><br>

    <div>
        <label for="genreTag">장르 태그</label><br>
        <select id="genreTag" th:field="*{genre}" th:value="${matching.getGenre()}">
            <option value="">선택하세요</option>
            <option th:each="genreTag : ${userGenreTags}" th:value="${genreTag.genre}" th:text="${genreTag.genre}"></option>
        </select><br><br>
    </div>

    <div>
        <label for="startTime">시작 시간</label><br>
        <select id="startTime" th:field="*{startTime}" th:value="${matching.getStartTime()}">
            <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour}"></option>
        </select><br><br>
    </div>
    <div>
        <label for="endTime">끝나는 시간</label><br>
        <select id="endTime" th:field="*{endTime}" th:value="${matching.getEndTime()}">
            <option th:each="hour : ${#numbers.sequence(0, 24)}" th:value="${hour}" th:text="${hour}"></option>
        </select><br><br>
    </div>

    <div>
        <label for="deadline">마감 시간</label><br>
        <select id="deadline" name="deadline" onchange="setSelectedHours()">
            <option value="0">제한 없음</option>
            <option value="1">1시간 후</option>
            <option value="2">2시간 후</option>
            <option value="3">3시간 후</option>
            <option value="6">6시간 후</option>
            <option value="12">12시간 후</option>
            <option value="24">1일 후</option>
        </select><br><br>
    </div>
    <input type="hidden" id="selectedHours" name="selectedHours" value="0">


    <button type="submit" onclick="submitFormAndRedirect()" style="background-color: #1F2227; color: white; font-size: 1.2em; padding: 10px 20px; border-radius: 10px">등록</button>
</form>

<script>
    function setSelectedHours() {
        var selectedValue = document.getElementById("deadline").value;
        document.getElementById("selectedHours").value = selectedValue;
    }

    function showSuccessMessage() {
        toastNotice("입력하신 매칭이 수정되었습니다.")
    }

    function submitFormAndRedirect() {
        showSuccessMessage();
        document.querySelector('form').submit();
    }
</script>

</main>
</body>
</html>
