@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: "NanumSquareNeo-Variable";
    text-underline-position: under;
    word-break: keep-all;
    background-color: #1b1d21;
    padding-top:var(--top-bar__height);
    min-height:100vh;
    max-width: 100vw;
    color: white;
}

:root {
    --site-width:1280px;
    --top-bar__height:64px;
}