@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: "GmarketSansMedium";
    text-underline-position: under;
    word-break: keep-all;
    background-color: #1D2939;
    padding-top:var(--top-bar__height);
    height:100vh;
}

:root {
    --site-width:1280px;
    --top-bar__height:64px;
}